In [1]:
import numpy as np
import pandas as pd
import datetime as dt

In [2]:
cold = pd.read_csv("D:/날씨_빅데이터/weather_cold.csv")
dry = pd.read_csv("D:/날씨_빅데이터/weather_dry.csv")
heat = pd.read_csv("D:/날씨_빅데이터/weather_heat.csv")
snow = pd.read_csv("D:/날씨_빅데이터/weather_snow.csv")
storm = pd.read_csv("D:/날씨_빅데이터/weather_storm.csv")
wind = pd.read_csv("D:/날씨_빅데이터/weather_wind.csv")

In [3]:
wind.head()

   Unnamed: 0                 fc_tma
0           1  2018-01-01 04:00:00.0
1           2  2018-01-05 20:00:00.0
2           3  2018-01-06 04:00:00.0
3           4  2018-01-08 16:00:00.0
4           5  2018-01-08 16:00:00.0

In [4]:
cold['fc_tma'] = pd.to_datetime(cold['fc_tma']).dt.date
dry['fc_tma'] = pd.to_datetime(dry['fc_tma']).dt.date
heat['fc_tma'] = pd.to_datetime(heat['fc_tma']).dt.date
snow['fc_tma'] = pd.to_datetime(snow['fc_tma']).dt.date
storm['fc_tma'] = pd.to_datetime(storm['fc_tma']).dt.date
wind['fc_tma'] = pd.to_datetime(wind['fc_tma']).dt.date

In [5]:
cold = cold.drop(['Unnamed: 0'], axis=1)
dry = dry.drop(['Unnamed: 0'], axis=1)
heat = heat.drop(['Unnamed: 0'], axis=1)
snow = snow.drop(['Unnamed: 0'], axis=1)
storm = storm.drop(['Unnamed: 0'], axis=1)
wind = wind.drop(['Unnamed: 0'], axis=1)

In [6]:
cold = cold.drop_duplicates()
dry = dry.drop_duplicates()
heat = heat.drop_duplicates()
snow = snow.drop_duplicates()
storm = storm.drop_duplicates()
wind = wind.drop_duplicates()

In [7]:
storm.tail()

          fc_tma
1735  2019-09-22
1986  2019-09-23
2017  2019-10-01
2019  2019-10-02
2160  2019-10-03

In [8]:
cold = cold.reset_index(drop=True)
dry = dry.reset_index(drop=True)
heat = heat.reset_index(drop=True)
snow = snow.reset_index(drop=True)
storm = storm.reset_index(drop=True)
wind = wind.reset_index(drop=True)

In [9]:
cold.to_csv("D:/날씨_빅데이터/modify_cold.csv", encoding = 'utf-8')
dry.to_csv("D:/날씨_빅데이터/modify_dry.csv", encoding = 'utf-8')
heat.to_csv("D:/날씨_빅데이터/modify_heat.csv", encoding = 'utf-8')
snow.to_csv("D:/날씨_빅데이터/modify_snow.csv", encoding = 'utf-8')
storm.to_csv("D:/날씨_빅데이터/modify_storm.csv", encoding = 'utf-8')
wind.to_csv("D:/날씨_빅데이터/modify_wind.csv", encoding = 'utf-8')