In [33]:
import pandas as pd

In [51]:
data = pd.read_csv("C:/Users/hello/Downloads/sns_data.csv")

In [35]:
data.head()

   Unnamed: 0      date big_cat         sm_cat        cnt
0           1  20180101      뷰티   기능성 링클케어 화장품  12.154295
1           2  20180101      뷰티   기능성 모공관리 화장품  36.000828
2           3  20180101      뷰티   기능성 아이케어 화장품   0.895782
3           4  20180101      뷰티   기능성 영양보습 화장품  14.868175
4           5  20180101      뷰티  기능성 트러블케어 화장품  48.819391

In [36]:
is_food = data['big_cat'] == '식품'
data = data[is_food]

data = data.drop(['big_cat', 'Unnamed: 0'], axis=1)

In [37]:
data.head()

         date     sm_cat        cnt
131  20180101    홍삼 분말/환   0.419303
132  20180101       탄산음료  12.877921
133  20180101   헛개/가시오가피   1.689494
134  20180101  한방 분말/환제품   2.176787
135  20180101       이온음료   1.643678

In [38]:
data.to_csv('C:/Users/hello/Downloads/modify_sns_data.csv', index=False, encoding='utf-8')

In [39]:
data1 = pd.read_csv('C:/Users/hello/Downloads/buy_data.csv')

In [40]:
data1.head()

   Unnamed: 0      date sex  age big_cat sm_cat  qty
0           1  20180101   F   20      식품    가공란   37
1           2  20180101   F   30      식품    가공란   16
2           3  20180101   F   40      식품    가공란    9
3           4  20180101   F   50      식품    가공란    3
4           5  20180101   M   20      식품    가공란   13

In [46]:
buy_data = pd.read_csv('C:/Users/hello/Downloads/buy_data.csv')

In [47]:
buy_data.head()
buy_data.shape

(2056899, 7)

In [48]:
is_food = buy_data['big_cat'] == '식품'
buy_data = buy_data[is_food]

buy_data = buy_data.drop(['big_cat', 'Unnamed: 0'], axis=1)

In [49]:
buy_data.head()
buy_data.shape

(1229819, 5)

In [50]:
buy_data.to_csv('C:/Users/hello/Downloads/modify_buy_data.csv', encoding = 'utf-8')

In [30]:
data.head()

   Unnamed: 0      date sex  age big_cat sm_cat  qty
0           1  20180101   F   20      식품    가공란   37
1           2  20180101   F   30      식품    가공란   16
2           3  20180101   F   40      식품    가공란    9
3           4  20180101   F   50      식품    가공란    3
4           5  20180101   M   20      식품    가공란   13